*{
    font-family:poppins;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
    
}

@keyframes rotate {
    0%{
        transform: rotate(-50deg);
    }
    
    100%{
        transform: rotate(50deg);
    }
    
}